<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/login.css" />
	<link rel="stylesheet" href="css/public.css"/>

</head>
<body>

<!--header-->
<div class="header">
	<div class="title_header" >
		
	</div>
	
    <div class="bg_header">
        <div class="header_nav fl t_title">
            全国地铁数据分析与可视化
        </div> 
    </div>
</div>

<!--main-->
<div class="data_content">

    <div class="data_main">

		<div class="login">
			<form action="/login" method="post">
			<h3 style="text-align: center; color: white;">登录</h3>
			<div class="account">
				<span>账号：</span>
				<input type="text" name="phone" placeholder="电话号码"/>
			</div>
			<div class="account">
				<span>密码：</span>
				<input type="password" name="password" placeholder="密码"/>
			</div>
			<div class="sign">
				<input type="submit" value="登录"/>
			</div>
			</form>
			<div class="register">
				<span>没有账号,<a href="/to_register">立刻注册</a></span>
			</div>
		</div>

	</div>
    
</div>

<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>

</body>

</html>