<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<form action="/register" onsubmit="return check()" method="post">
    <input type="text" name="phone" class="phone"/><br/>
    <input type="text" name="name" class="name"/><br/>
    <input type="password" name="password" class="password"/><br/>
    <input type="password" name="rePassword" class="rePassword">
    <input type="submit" value="注册">
</form>
</body>
<script type="text/javascript">
    function check() {
        var password = $(".password").val();
        var rePassword = $(".rePassword").val();
        if(password===rePassword){
            return true;
        }else {
            return false;
        }
    }
</script>
</html>