<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全国地铁数据分析可视化</title>
</head>
<body>
<div class="container" th:fragment="top">
    <!-- nav -->
    <nav class="py-md-4 py-3 d-lg-flex">
        <div id="logo">
            <span th:text="${'用户信息:'+session.username}"></span>
        </div>
        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
        <input type="checkbox" id="drop" />
        <ul class="menu mt-lg-3 ml-auto">
            <li class=""><a href="/index">首页</a></li>
            <li class=""><a href="about.html">地铁查询</a></li>
            <li class=""><a href="services.html">地铁网图</a></li>
            <li class=""><a href="/logOut">退出</a></li>
        </ul>
    </nav>
    <!-- //nav -->
</div>
</body>
</html>