<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzmu.lpzyf.mapper.AdminMapper">
    <select id="findByPhone" resultType="Admin">
        select phone,name,password,create_time as createTime from admin where phone=#{phone}
    </select>

    <insert id="insert">
        insert into admin values(#{phone},#{name},#{password},#{createTime})
    </insert>

</mapper>