<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzmu.lpzyf.mapper.CityMapper">
<select id="findAll" resultType="City">
    select id,name_cn,name_en from city_info
</select>

<insert id="insert">
    insert into city_info values(#{id},#{nameCn},#{nameEn})
</insert>
    <select id="findById" resultType="City">
    select * from city_info where id=#{id}
</select>
</mapper>