<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzmu.lpzyf.mapper.MetroStationMapper">
    <insert id="insert">
        insert ignore into metro_station
        values(#{id},#{name},#{nameEn},#{longitude},#{latitude},#{coordinateX},#{coordinateY},#{ifTransfer},#{stationStatus})
        on duplicate key update name=#{name},name_en=#{nameEn},longitude=#{longitude}
          ,latitude=#{latitude},station_status=#{stationStatus},coordinate_x=#{coordinateX},coordinate_y=#{coordinateY},
            if_transfer=#{ifTransfer}
    </insert>

</mapper>