<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzmu.lpzyf.mapper.MetroLineMapper">
    <resultMap id="MetroLineCity" type="com.gzmu.lpzyf.bean.MetroLine">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="metro_name" jdbcType="VARCHAR" property="metroName"/>
        <result column="metro_name_all" jdbcType="VARCHAR" property="metroNameAll"/>
        <result column="if_ring" jdbcType="INTEGER" property="ifRing"/>
        <result column="line_color" jdbcType="VARCHAR" property="lineColor"/>
        <result column="line_status" jdbcType="VARCHAR" property="lineStatus"/>
        <result column="" jdbcType="INTEGER" property="num"/>
        <association property="city" javaType="com.gzmu.lpzyf.bean.City">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="name_cn" jdbcType="VARCHAR" property="nameCn"/>
            <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        </association>
    </resultMap>
    <insert id="insert">
        insert into metro_line values(#{id},#{metroName},#{metroNameAll},#{city.id},#{ifRing},#{lineColor},#{lineStatus})
         on duplicate key update metro_name=#{metroName},metro_name_all=#{metroNameAll},line_status=#{lineStatus},city_id=#{city.id},
             if_ring=#{ifRing},line_color=#{lineColor}
    </insert>
    <!--    查询城市的线路详情-->
    <select id="findByCity" resultType="MetroLine">
        select * from metro_line where city_id=#{cityId}
    </select>
    <!--查询每个城市的地铁线路数-->
    <select id="findCount" resultType="MetroLine">
        select city_id ,COUNT(ml.city_id)as num from metro_line ml
        group by ml.city_id
        order by num DESC
    </select>
    <select id="findLineCount" resultType="MetroLine" resultMap="MetroLineCity">
       select ci.name_cn ,COUNT(ml.city_id) from metro_line ml
        left join city_info ci on ci.id = ml.city_id
        group by ml.city_id
        order by COUNT(ml.city_id) DESC
    </select>
    <select id="findAll" resultType="MetroLine">
        select * from metro_line
    </select>
</mapper>